<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>房产信息管理</title>
    <load href='__PUBLIC__/css/bootstrap.min.css' />
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <load href='__PUBLIC__/js/bootstrap.min.js' />
    <style type="text/css">
    	body { 
    		padding-top: 50px; 
    	}
    	#name{
    		margin-left: 120px;
    	}
    	#mainbody{
    		margin: 30px auto;
    	}
    	.nav-tabs{
    		width: 95%;
    		margin-left: 15px;
    	}
    	.form{
    		margin-top: 100px;
    		margin-left: 30px;
    		text-align: center;
    	}
    	.jumbotron{
    		margin-top: 50px;
    	}
    </style>
  </head>
 
 <body>
  	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	    <div class="row">
	    	<div class="col-md-10">
	      		<a class="navbar-brand" href="__CONTROLLER__/main">
	        		<p>房产信息管理</p>
	      		</a>
	      	</div>
	      	<div class="col-md-2">
	      		<button type="button" class="btn btn-info navbar-btn navbar-right dropdown-toggle"  data-toggle="dropdown">
					{$name}<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" id="name">
   					 <li><a tabindex="-1" href="__CONTROLLER__/main">返回主页</a></li>
   					 <li><a tabindex="-1" href="__CONTROLLER__/userinfo">查看个人信息</a></li>
   					 <li><a tabindex="-1" href="__CONTROLLER__/houserentinfo">查看发布信息</a></li>
    				 <li><a tabindex="-1" href="__CONTROLLER__/loginout">退出</a></li>
    			</ul>
	      	</div>
	    </div>
	  </div>
	</nav>
	
	<div class="container" id="mainbody">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				 <ul class="nav nav-tabs">
					    <li class="active">
					    	<a href="javascript:;">发布信息</a>
					    </li>
				</ul>
				<div class="btn-group btn-group-lg col-md-12">
					<button type="button" class="col-md-4 btn btn-info" disabled="disabled">
						1.选择信息
					</button>
					<button type="button" class="col-md-4 btn btn-primary" disabled="disabled">
						2.发布信息
					</button>
					<button type="button" class="col-md-4 btn btn-warning" disabled="disabled">
						3.发布完成
					</button>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6">
				<div class="jumbotron">
				  <h2>发布信息成功</h2>
				  <p><span id="second">3</span>秒后回到主页<a class="btn btn-primary btn-lg" href="__CONTROLLER__/main" role="button">返回</a></p>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		
	</div>  	
   
  </body>
   <script type="text/javascript">  
    var num=document.getElementById("second").innerHTML;
   //获取显示秒数的元素，通过定时器来更改秒数。
  
    function count()
    {
        num--;
        document.getElementById("second").innerHTML=num;
        if(num==0)
        {
        	window.location.href="__CONTROLLER__/main";
        }
    }
    setInterval("count()",1000);
 	</script> 
</html>
